@import "../Helpers/mixin";
@import "../Helpers/var";

html {
    font-size: 16px;
}

body {
    @include font-regular;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    color: $main-dark;
    line-height: 1;
}

h1 {
    @include font-semibold;
    font-size: 2.1rem;
    color: white;
    line-height: 1.4;
}

h2 {
    @include font-light;
    margin: 0;
    font-size: 1.58rem;
    line-height: 1.4;

    p {
        font-size: 1.58rem;
        @include font-light;
        line-height: 1.4;
        color: $main-dark;

        strong {
            @include font-semibold;
            font-size: 1.58rem;
            color: $main-dark;
        }
    }
}

h3 {
    @include font-semibold;
    font-size: 1rem;
}

h4 {
    font-size: 0.85rem;
    @include font-semibold;
    line-height:1.6;
}

p, span {
    font-size: 0.875rem;
    @include font-regular;
}

p {
    @include font-light;
    line-height: 2;
    color: $gray;

    strong, b {
        font-size: 0.875rem;
        @include font-semibold;
        color: $main-dark;
    }
}

a {
    text-decoration: none;
    color: $white;

    &:hover, &:active, &:focus {
        text-decoration: none;
        color: $white;
    }
}


ul {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
    }
}

.cover {
    @include cover;
}

strong {
    @include font-bold;
}

img {
    max-width: 100%;
    height: auto;
}

.items-right {
    text-align: right;
}

.center-items {
    text-align: center;
}
.main-container {
    visibility:hidden;
    opacity:0;
    transition: $transition;
    &.fade-in{
        visibility:visible;
        opacity:1;
    }
}

$effect: 10;

.data-show-visible{
    opacity: 0;
    transform: translateX(-25px);
    transition: 1s $cubic;


    @for $i from 1 through $effect {

        &:nth-child(#{$i}) {
            transition-delay: $i * 0.1s;
        }
    }
}


.done {
    opacity: 1;
    transform: translateX(0);
}

@include phones {
    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.3rem;
        margin-top: 10px;
        margin-bottom: 10px;

        p {
            font-size: 1.3rem;

            strong {
                font-size: 1.3rem;
            }
        }
    }

    p {
        font-size: 13px;
        line-height: 1.8;

        strong {
            font-size: 14px;
        }
    }

    .data-show-visible {
        opacity: 1;
        transform: translateX(0);
    }
}