// colors
$white: #ffffff;
$white-faded: #f5f6f6;
$main-dark: #121212;
/*$light-gray: #1a1a1a;*/


$green: #313c40;
$gray: #787878; 

// Layout
$header-height: 80px;
$header-height-sm: 60px;
$header-height-xs: 45px;
//transitions
$count: 5;
$cubic: cubic-bezier(.215,.61,.355,1);
$transition: 0.55s $cubic;
$transition-fast: 0.4s $cubic;
$shadow: 0px 0px 35px 0px rgba(1, 1, 0, 0.06);

// Breakpoints
$extra-small: 767px;
$small: 768px;
$medium: 992px;
$tablet-horizontal: 1025px;
$large: 1200px;
$larger: 1366px;
$extra-large: 1600px;