@import "../Helpers/var";
@import "../Helpers/mixin";

a, span {
    &.main-link {
        @include font-semibold;
        display: inline-block;
        color: $main-dark;
        font-size: 0.8rem;

        &:hover {
            &::before {
                width: 0;
            }

            &::after {
                width: 15px;
            }
        }

        &::before, &::after {
            display: inline-block;
            content: '';
            width: 15px;
            margin-right: 8px;
            height: 1px;
            background-color: $main-dark;
            vertical-align: middle;
            transition: $transition;
        }

        &::after {
            margin-right: 0;
            margin-left: 8px;
            width: 0;
            overflow: hidden;
        }

        &.white {
            color: $white;

            &::before, &::after {
                background-color: $white;
            }
        }
    }
}

.umb-grid {
    p {
        a, span {
            &.main-link {
                color: white;
                text-decoration: none;

                a, span {
                    color: white;
                    text-decoration: none;
                }

                &::before, &::after {
                    background-color: white;
                }

                &:hover {
                    color: white;
                    text-decoration: none;
                }
            }
        }

        &.main-link {
            color: white;
            text-decoration: none;

            a, span {
                color: white;
                text-decoration: none;
            }

            &::before, &::after {
                background-color: white;
            }

            &:hover {
                color: white;
                text-decoration: none;
            }
        }
    }
}
