/*$light-gray: #1a1a1a;*/
/*$light-gray: #1a1a1a;*/
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
.img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(18, 18, 18, 0.65); }

.load-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
  visibility: visible;
  transform: translateX(0);
  transition: 0.55s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 1.5s; }
  .load-overlay.fade-out {
    transform: translateX(100%);
    visibility: hidden; }
    .load-overlay.fade-out .overlay-content img {
      opacity: 0; }
    .load-overlay.fade-out .overlay-content .custom-spinners {
      opacity: 0; }
  .load-overlay .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .load-overlay .overlay-content img {
      width: 200px;
      transition: 0.55s cubic-bezier(0.215, 0.61, 0.355, 1);
      opacity: 1;
      transition-delay: 1s; }

.custom-spinners {
  width: 100px;
  height: 2px;
  overflow: hidden;
  margin: 15px auto;
  transition: 0.55s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 1;
  transition-delay: 0.5s; }
  .custom-spinners .before-after {
    display: block;
    width: 100%;
    height: 100%;
    position: relative; }
    .custom-spinners .before-after::after, .custom-spinners .before-after::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 1px;
      background-color: #121212;
      transition: 0.55s cubic-bezier(0.215, 0.61, 0.355, 1);
      /*-webkit-animation: custom-effect 5s infinite;*/
      animation: custom-effect 5s infinite; }
    .custom-spinners .before-after::after {
      top: 1px;
      animation: custom-effect-reverse 5s infinite; }

/* Standard syntax */
@keyframes custom-effect {
  0% {
    transform: translateX(0); }
  25% {
    transform: translateX(100%); }
  50% {
    transform: translateX(0); }
  75% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

@keyframes custom-effect-reverse {
  0% {
    transform: translateX(0); }
  25% {
    transform: translateX(-100%); }
  50% {
    transform: translateX(0); }
  75% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

/*@-webkit-keyframes custom-effect {
    0% {
        top: 0px;
    }

    25% {
        top: 200px;
    }

    75% {
        top: 50px
    }

    100% {
        top: 100px;
    }
}*/
/*$light-gray: #1a1a1a;*/
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
/*$light-gray: #1a1a1a;*/
html {
  font-size: 16px; }

body {
  font-family: 'Montserrat-Regular', sans-serif;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  color: #121212;
  line-height: 1; }

h1 {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-size: 2.1rem;
  color: white;
  line-height: 1.4; }

h2 {
  font-family: 'Montserrat-Light', sans-serif;
  margin: 0;
  font-size: 1.58rem;
  line-height: 1.4; }
  h2 p {
    font-size: 1.58rem;
    font-family: 'Montserrat-Light', sans-serif;
    line-height: 1.4;
    color: #121212; }
    h2 p strong {
      font-family: 'Montserrat-SemiBold', sans-serif;
      font-size: 1.58rem;
      color: #121212; }

h3 {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-size: 1rem; }

h4 {
  font-size: 0.85rem;
  font-family: 'Montserrat-SemiBold', sans-serif; }

p, span {
  font-size: 0.875rem;
  font-family: 'Montserrat-Regular', sans-serif; }

p {
  font-family: 'Montserrat-ExtraLight', sans-serif;
  line-height: 2;
  color: #b2b1b1; }
  p strong, p b {
    font-size: 0.875rem;
    font-family: 'Montserrat-SemiBold', sans-serif;
    color: #121212; }

a {
  text-decoration: none;
  color: #ffffff; }
  a:hover, a:active, a:focus {
    text-decoration: none;
    color: #ffffff; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style-type: none; }

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

strong {
  font-family: 'Montserrat-Bold', sans-serif; }

img {
  max-width: 100%;
  height: auto; }

.items-right {
  text-align: right; }

.center-items {
  text-align: center; }

.data-show-visible {
  opacity: 0;
  transform: translateX(-25px);
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .data-show-visible:nth-child(1) {
    transition-delay: 0.1s; }
  .data-show-visible:nth-child(2) {
    transition-delay: 0.2s; }
  .data-show-visible:nth-child(3) {
    transition-delay: 0.3s; }
  .data-show-visible:nth-child(4) {
    transition-delay: 0.4s; }
  .data-show-visible:nth-child(5) {
    transition-delay: 0.5s; }
  .data-show-visible:nth-child(6) {
    transition-delay: 0.6s; }
  .data-show-visible:nth-child(7) {
    transition-delay: 0.7s; }
  .data-show-visible:nth-child(8) {
    transition-delay: 0.8s; }
  .data-show-visible:nth-child(9) {
    transition-delay: 0.9s; }
  .data-show-visible:nth-child(10) {
    transition-delay: 1s; }

.done {
  opacity: 1;
  transform: translateX(0); }

/*$light-gray: #1a1a1a;*/
/*$light-gray: #1a1a1a;*/
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
/*$light-gray: #1a1a1a;*/
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
/*$light-gray: #1a1a1a;*/
.fullwidth, .fullwidth-small, .fullwidth-small-white {
  margin: 80px 0; }
  .fullwidth .container, .fullwidth-small .container, .fullwidth-small-white .container {
    width: 100%;
    margin: 0;
    padding: 0; }
    .fullwidth .container .row, .fullwidth-small .container .row, .fullwidth-small-white .container .row {
      margin: 0; }
      .fullwidth .container .row > div, .fullwidth-small .container .row > div, .fullwidth-small-white .container .row > div {
        height: 75vh;
        padding: 0;
        background-color: #313c40; }
        .fullwidth .container .row > div > div, .fullwidth-small .container .row > div > div, .fullwidth-small-white .container .row > div > div {
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          height: 75vh; }
          .fullwidth .container .row > div > div.center-content, .fullwidth-small .container .row > div > div.center-content, .fullwidth-small-white .container .row > div > div.center-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: auto;
            max-width: 60%; }
            .fullwidth .container .row > div > div.center-content h2, .fullwidth .container .row > div > div.center-content p, .fullwidth .container .row > div > div.center-content h3, .fullwidth-small .container .row > div > div.center-content h2, .fullwidth-small .container .row > div > div.center-content p, .fullwidth-small .container .row > div > div.center-content h3, .fullwidth-small-white .container .row > div > div.center-content h2, .fullwidth-small-white .container .row > div > div.center-content p, .fullwidth-small-white .container .row > div > div.center-content h3 {
              color: white; }
            .fullwidth .container .row > div > div.center-content h2, .fullwidth-small .container .row > div > div.center-content h2, .fullwidth-small-white .container .row > div > div.center-content h2 {
              margin-bottom: 25px; }
            .fullwidth .container .row > div > div.center-content a, .fullwidth-small .container .row > div > div.center-content a, .fullwidth-small-white .container .row > div > div.center-content a {
              margin-top: 25px; }

.frontpage-gridsection .fullwidth, .frontpage-gridsection .fullwidth-small, .frontpage-gridsection .fullwidth-small-white {
  margin: 0; }

.fullwidth-small .center-content h3, .fullwidth-small-white .center-content h3 {
  color: white; }

.fullwidth-small:nth-last-of-type(2), .fullwidth-small-white:nth-last-of-type(2) {
  margin-top: 80px; }

.fullwidth-small .container .row > div, .fullwidth-small-white .container .row > div {
  height: 400px; }
  .fullwidth-small .container .row > div > div, .fullwidth-small-white .container .row > div > div {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 400px; }

.fullwidth-small-white .container .row > div {
  background-color: white; }
  .fullwidth-small-white .container .row > div > div.center-content h3, .fullwidth-small-white .container .row > div > div.center-content h2, .fullwidth-small-white .container .row > div > div.center-content a {
    color: #121212; }
  .fullwidth-small-white .container .row > div > div.center-content p {
    color: #b2b1b1; }

.fullwidth-tinted {
  background-color: #f5f6f6;
  padding: 100px 0; }
  .fullwidth-tinted h2 {
    padding-right: 38%;
    margin-bottom: 10px; }
  .fullwidth-tinted a {
    color: #121212; }
    .fullwidth-tinted a::before {
      background-color: #121212; }
  .fullwidth-tinted h3 {
    margin-top: -8px;
    margin-bottom: 30px; }
  .fullwidth-tinted .contact-right-side a {
    font-family: 'Montserrat-SemiBold', sans-serif;
    margin-top: -8px;
    margin-bottom: 30px;
    font-size: 1.1rem;
    display: block; }

.medium-split-white {
  margin-bottom: 25px; }
  .medium-split-white .container .row > div {
    height: 400px; }
    .medium-split-white .container .row > div > div {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 400px; }
      .medium-split-white .container .row > div > div.center-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        width: 90%; }

/*.green {
    background-color: $green;
}*/
.umb-grid .img-overlay {
  position: relative; }
  .umb-grid .img-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(18, 18, 18, 0.4); }

.umb-grid p a {
  font-family: 'Montserrat-Regular', sans-serif;
  color: #b2b1b1;
  text-decoration: underline;
  transition: 0.55s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .umb-grid p a:hover {
    color: #121212;
    text-decoration: underline; }

.payment {
  padding: 100px 0; }
  .payment .mobilepay {
    width: 180px; }
  .payment h2 {
    margin-bottom: 10px; }

.main-pages {
  padding: 80px 0 40px; }
  .main-pages .grid-section h2 {
    margin-top: 15px;
    margin-bottom: 25px; }
  .main-pages .grid-section p {
    margin-bottom: 30px; }
  .main-pages .grid-section img {
    margin-top: 20px;
    margin-bottom: 45px; }

/*$light-gray: #1a1a1a;*/
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
/*$light-gray: #1a1a1a;*/
.round-button {
  width: 50px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding-top: 12px; }

a.line-effect {
  display: block;
  position: relative;
  transition: 0.55s cubic-bezier(0.215, 0.61, 0.355, 1); }
  a.line-effect.main-link:hover {
    margin-left: 30px; }
  a.line-effect:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -110px;
    height: 2px;
    width: 100px;
    background-color: #ffffff; }

/*$light-gray: #1a1a1a;*/
/*$light-gray: #1a1a1a;*/
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
.arrow-icon {
  display: inline-block; }
  .arrow-icon svg {
    width: 20px;
    height: 20px;
    fill: #ffffff; }
  .arrow-icon.left {
    transform: rotate(180deg); }

.launch-icon {
  display: inline-block;
  transform: rotate(180deg); }
  .launch-icon svg {
    width: 20px;
    height: 20px;
    fill: #ffffff; }

/*$light-gray: #1a1a1a;*/
/*$light-gray: #1a1a1a;*/
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
a.main-link, span.main-link {
  font-family: 'Montserrat-SemiBold', sans-serif;
  display: inline-block;
  color: #121212;
  font-size: 0.8rem; }
  a.main-link:hover::before, span.main-link:hover::before {
    width: 0; }
  a.main-link:hover::after, span.main-link:hover::after {
    width: 15px; }
  a.main-link::before, a.main-link::after, span.main-link::before, span.main-link::after {
    display: inline-block;
    content: '';
    width: 15px;
    margin-right: 8px;
    height: 1px;
    background-color: #121212;
    vertical-align: middle;
    transition: 0.55s cubic-bezier(0.215, 0.61, 0.355, 1); }
  a.main-link::after, span.main-link::after {
    margin-right: 0;
    margin-left: 8px;
    width: 0;
    overflow: hidden; }
  a.main-link.white, span.main-link.white {
    color: #ffffff; }
    a.main-link.white::before, a.main-link.white::after, span.main-link.white::before, span.main-link.white::after {
      background-color: #ffffff; }

.umb-grid p a.main-link, .umb-grid p span.main-link {
  color: white;
  text-decoration: none; }
  .umb-grid p a.main-link a, .umb-grid p a.main-link span, .umb-grid p span.main-link a, .umb-grid p span.main-link span {
    color: white;
    text-decoration: none; }
  .umb-grid p a.main-link::before, .umb-grid p a.main-link::after, .umb-grid p span.main-link::before, .umb-grid p span.main-link::after {
    background-color: white; }
  .umb-grid p a.main-link:hover, .umb-grid p span.main-link:hover {
    color: white;
    text-decoration: none; }

.umb-grid p.main-link {
  color: white;
  text-decoration: none; }
  .umb-grid p.main-link a, .umb-grid p.main-link span {
    color: white;
    text-decoration: none; }
  .umb-grid p.main-link::before, .umb-grid p.main-link::after {
    background-color: white; }
  .umb-grid p.main-link:hover {
    color: white;
    text-decoration: none; }

/*$light-gray: #1a1a1a;*/
/*$light-gray: #1a1a1a;*/
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
.menu-icon-container {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 46.8px;
  height: 46.8px;
  z-index: 5;
  background-color: #ffffff; }
  .menu-icon-container.active span.menu-icon {
    transform: rotate(45deg) translate(6px, 6px); }
    .menu-icon-container.active span.menu-icon::before {
      opacity: 0; }
    .menu-icon-container.active span.menu-icon::after {
      transform: rotate(-90deg) translate(14px, 0px); }
  .menu-icon-container span {
    padding: 15px 0;
    display: inline-block; }
    .menu-icon-container span.menu-icon {
      position: absolute;
      top: 0;
      background-color: #121212;
      width: 26px;
      height: 2px;
      padding: 0;
      transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
      margin: 19px 12px; }
      .menu-icon-container span.menu-icon::before, .menu-icon-container span.menu-icon::after {
        content: '';
        position: absolute;
        top: 7px;
        background-color: #121212;
        width: 26px;
        height: 2px;
        transition: 0.4s cubic-bezier(0.215, 0.61, 0.355, 1); }
      .menu-icon-container span.menu-icon::after {
        top: 14px; }

@media only screen and (max-width: 1200px) {
  .menu-icon-container {
    top: 5px;
    right: 15px; } }

@media only screen and (max-width: 767px) {
  .menu-icon-container {
    top: 0;
    right: 5px;
    width: 39.6px;
    height: 39.6px; }
    .menu-icon-container.active span.menu-icon {
      transform: rotate(45deg) translate(4px, 4px); }
      .menu-icon-container.active span.menu-icon::before {
        opacity: 0; }
      .menu-icon-container.active span.menu-icon::after {
        transform: rotate(-90deg) translate(10px, 0px); }
    .menu-icon-container span {
      padding: 0; }
      .menu-icon-container span.menu-icon {
        width: 22px;
        height: 1px;
        margin: 18px 8px; }
        .menu-icon-container span.menu-icon::before, .menu-icon-container span.menu-icon::after {
          top: 5px;
          width: 22px;
          height: 1px; }
        .menu-icon-container span.menu-icon::after {
          top: 10px; } }

/*$light-gray: #1a1a1a;*/
/*$light-gray: #1a1a1a;*/
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding-left: 65px;
  padding-right: 70px;
  background-color: white;
  height: 80px;
  transition: 0.32s cubic-bezier(0.215, 0.61, 0.355, 1); }
  header.scroll {
    height: 65px; }
    header.scroll::after {
      width: 100%; }
    header.scroll .navigation {
      padding: 12px 0; }
    header.scroll .logo-container img {
      width: 80px;
      margin: 15px 0; }
  header .logo-container, header .navigation, header .social {
    display: inline-block; }
  header .logo-container {
    float: left; }
    header .logo-container img {
      width: 100px;
      margin: 20px 0;
      transition: 0.32s cubic-bezier(0.215, 0.61, 0.355, 1); }

.navigation {
  float: right;
  padding: 20px 0;
  transition: 0.32s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .navigation nav {
    display: inline-block; }
  .navigation ul li {
    display: inline-block; }
    .navigation ul li.active a {
      font-family: 'Montserrat-Bold', sans-serif;
      color: #121212; }
    .navigation ul li a {
      display: inline-block;
      font-family: 'Montserrat-Regular', sans-serif;
      color: #b2b1b1;
      font-size: 0.8rem;
      padding: 12px 20px;
      transition: 0.55s cubic-bezier(0.215, 0.61, 0.355, 1); }
      .navigation ul li a:hover {
        color: #121212; }

.social-container {
  display: inline-block;
  vertical-align: middle; }
  .social-container a:last-of-type svg {
    margin-bottom: -1px; }
  .social-container svg {
    fill: #121212;
    width: 12px;
    height: 12px;
    margin-left: 30px; }

@media only screen and (min-width: 1200px) {
  header {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1); } }

@media only screen and (max-width: 1200px) {
  header {
    padding-left: 15px;
    padding-right: 15px;
    height: 60px; }
    header .logo-container img {
      width: 75px;
      margin: 16px 8px; }
  .navigation {
    float: none;
    padding: 0;
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 0;
    width: 350px;
    background-color: white;
    transform: translateX(100%);
    visibility: hidden;
    transition: 0.55s cubic-bezier(0.215, 0.61, 0.355, 1); }
    .navigation.active {
      transform: translateX(0);
      visibility: visible; }
    .navigation ul {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 42%; }
      .navigation ul li {
        display: block; }
  .social-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px; }
    .social-container a:last-of-type svg {
      margin-bottom: -1px; }
    .social-container svg {
      margin-left: 0;
      margin-right: 15px; } }

@media only screen and (max-width: 767px) {
  header {
    padding-left: 15px;
    padding-right: 15px;
    height: 45px; }
    header .logo-container img {
      width: 55px;
      margin: 12px 0px; }
  .navigation {
    top: 45px;
    left: 0;
    width: 100%; } }

/*$light-gray: #1a1a1a;*/
/*$light-gray: #1a1a1a;*/
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
footer {
  background-color: #313c40;
  padding: 80px 0; }
  footer span, footer a {
    font-family: 'Montserrat-Light', sans-serif;
    color: #ffffff;
    font-size: 0.8rem;
    margin-bottom: 5px;
    display: block; }
  footer svg {
    width: 95px;
    height: 44px; }

/*$light-gray: #1a1a1a;*/
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
/*$light-gray: #1a1a1a;*/
/*$light-gray: #1a1a1a;*/
/*$light-gray: #1a1a1a;*/
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
.main-setion {
  margin-top: 80px; }

.top-section {
  margin: 100px 50px 40px; }
  .top-section .top-section-left span, .top-section .top-section-left h1 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 1.8rem; }
  .top-section .top-section-left h1 {
    font-family: 'Montserrat-Light', sans-serif;
    margin: 0;
    color: #121212;
    font-size: 1.8rem; }
  .top-section .top-section-right img {
    width: 55px; }
  .top-section .top-section-right p {
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 0.8rem;
    padding-right: 20%;
    line-height: 1.6; }

.custom-grid-section {
  padding: 100px 0 150px; }

.first-section {
  margin: 50px 0 180px; }

.top-section-left .toggle-word {
  position: relative;
  width: 100%;
  height: 40px;
  overflow: hidden;
  display: inline-block; }
  .top-section-left .toggle-word > div span {
    position: absolute;
    transform: translateY(100%);
    transition: 0.55s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .top-section-left .toggle-word > div.show-1 span:nth-child(1) {
    transform: translateY(0);
    transition-delay: 0.2s; }
  .top-section-left .toggle-word > div.show-2 span:nth-child(2) {
    transform: translateY(0);
    transition-delay: 0.2s; }
  .top-section-left .toggle-word > div.show-3 span:nth-child(3) {
    transform: translateY(0);
    transition-delay: 0.2s; }
  .top-section-left .toggle-word > div.show-4 span:nth-child(4) {
    transform: translateY(0);
    transition-delay: 0.2s; }

/*$light-gray: #1a1a1a;*/
/*$light-gray: #1a1a1a;*/
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
.carousel {
  overflow: hidden; }
  .carousel:hover .slider-navs {
    bottom: 0;
    transition-delay: 0s; }
  .carousel .carousel-inner .item {
    height: 65vh; }
    .carousel .carousel-inner .item.active .carousel-caption {
      opacity: 1; }
      .carousel .carousel-inner .item.active .carousel-caption .caption-content {
        transform: translateX(0); }
    .carousel .carousel-inner .item .carousel-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      bottom: auto;
      right: auto;
      padding: 0;
      margin: 0;
      text-align: left;
      opacity: 0;
      transition: 0.55s cubic-bezier(0.215, 0.61, 0.355, 1); }
      .carousel .carousel-inner .item .carousel-caption .caption-content {
        transform: translateX(-15px);
        transition: 0.55s cubic-bezier(0.215, 0.61, 0.355, 1); }
        .carousel .carousel-inner .item .carousel-caption .caption-content p {
          color: #ffffff;
          text-align: left;
          font-family: 'Montserrat-Light', sans-serif;
          font-size: 2rem;
          line-height: 1;
          margin-bottom: 6px; }
          .carousel .carousel-inner .item .carousel-caption .caption-content p strong {
            color: #ffffff;
            font-size: 2rem;
            font-family: 'Montserrat-SemiBold', sans-serif;
            font-weight: normal; }
        .carousel .carousel-inner .item .carousel-caption .caption-content a {
          padding: 10px 0; }
  .carousel .slider-navs {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -67px;
    z-index: 4;
    height: 43px;
    width: 110px;
    background-color: #ffffff;
    transition: 0.55s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: 0.25s; }
  .carousel .left-icon, .carousel .right-icon {
    width: 55px;
    height: 43px;
    display: inline-block;
    text-align: center; }
    .carousel .left-icon span, .carousel .right-icon span {
      display: inline-block;
      position: relative;
      height: 100%;
      width: 100%; }
      .carousel .left-icon span:hover svg, .carousel .right-icon span:hover svg {
        fill: #b2b1b1; }
      .carousel .left-icon span svg, .carousel .right-icon span svg {
        position: absolute;
        width: 14px;
        height: 14px;
        fill: #121212;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.55s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .carousel .right-icon {
    float: right; }
    .carousel .right-icon span {
      transform: rotate(180deg); }
      .carousel .right-icon span svg {
        top: 49%; }

/*$light-gray: #1a1a1a;*/
/*$light-gray: #1a1a1a;*/
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
.service-blocks .service-links {
  display: block; }
  .service-blocks .service-links:hover span {
    opacity: 1;
    transform: translateX(0); }
  .service-blocks .service-links p {
    color: #b2b1b1;
    font-size: 0.75rem; }
  .service-blocks .service-links span {
    opacity: 0;
    transform: translateX(-10px);
    transition: 0.55s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*$light-gray: #1a1a1a;*/
/*$light-gray: #1a1a1a;*/
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
.top-banner {
  position: relative;
  height: 400px; }
  .top-banner .top-banner-content {
    margin-top: 180px; }

