@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
html {
  font-size: 16px; }

body {
  font-family: 'Montserrat-Regular', sans-serif; }

h1, h2, h3, h4 {
  color: #121212;
  line-height: 1; }

h2 {
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.4; }
  h2 p {
    font-family: 'Montserrat-Light', sans-serif;
    line-height: 1.4;
    color: #121212; }

h3 {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-size: 1.1rem; }

h4 {
  font-size: 0.85rem;
  font-family: 'Montserrat-SemiBold', sans-serif; }

p, span {
  font-family: 'Montserrat-Regular', sans-serif; }

p {
  font-family: 'Montserrat-ExtraLight', sans-serif;
  line-height: 2;
  color: #b2b1b1; }

a {
  text-decoration: none;
  color: #ffffff; }
  a:hover, a:active, a:focus {
    text-decoration: none;
    color: #ffffff; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style-type: none; }

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

strong {
  font-family: 'Montserrat-Bold', sans-serif; }

img {
  max-width: 100%;
  height: auto; }

.items-right {
  text-align: right; }

.center-items {
  text-align: center; }

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
.fullwidth .container {
  width: 100%;
  margin: 0;
  padding: 0; }
  .fullwidth .container .row {
    margin: 0; }
    .fullwidth .container .row > div {
      height: 75vh;
      padding: 0;
      background-color: #313c40; }
      .fullwidth .container .row > div > div {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 75vh; }
        .fullwidth .container .row > div > div.center-content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: auto;
          max-width: 60%; }
          .fullwidth .container .row > div > div.center-content h2, .fullwidth .container .row > div > div.center-content p {
            color: white; }
          .fullwidth .container .row > div > div.center-content h2 {
            margin-bottom: 25px; }
          .fullwidth .container .row > div > div.center-content a {
            margin-top: 25px; }

.fullwidth-tinted {
  background-color: #f5f6f6;
  padding: 100px 0; }
  .fullwidth-tinted h2 {
    padding-right: 20%; }
  .fullwidth-tinted a {
    color: #121212; }
    .fullwidth-tinted a::before {
      background-color: #121212; }
  .fullwidth-tinted h3 {
    margin-top: -8px;
    margin-bottom: 30px; }

.green {
  background-color: #313c40; }

.umb-grid .img-overlay {
  position: relative; }
  .umb-grid .img-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(18, 18, 18, 0.4); }

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
.menu-toggle {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20; }
  .menu-toggle .menu-icon {
    margin: 30px;
    cursor: pointer;
    padding: 5px; }
    .menu-toggle .menu-icon span {
      position: relative;
      display: block;
      width: 16px;
      height: 1px;
      background: #ffffff;
      transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
      .menu-toggle .menu-icon span:before, .menu-toggle .menu-icon span:after {
        position: absolute;
        right: 0;
        background: #ffffff;
        content: '';
        width: 23px;
        height: 1px;
        transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
      .menu-toggle .menu-icon span:before {
        top: -6px; }
      .menu-toggle .menu-icon span:after {
        top: 6px;
        width: 11px; }
    .menu-toggle .menu-icon.active span {
      background: transparent; }
      .menu-toggle .menu-icon.active span:before {
        transform: rotate(45deg) translate(5px, 6px); }
      .menu-toggle .menu-icon.active span:after {
        transform: rotate(-45deg) translate(5px, -6px); }

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
.round-button {
  width: 50px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding-top: 12px; }

a.line-effect {
  display: block;
  position: relative;
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  a.line-effect.main-link:hover {
    margin-left: 30px; }
  a.line-effect:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -110px;
    height: 2px;
    width: 100px;
    background-color: #ffffff; }

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
.arrow-icon {
  display: inline-block; }
  .arrow-icon svg {
    width: 20px;
    height: 20px;
    fill: #ffffff; }
  .arrow-icon.left {
    transform: rotate(180deg); }

.launch-icon {
  display: inline-block;
  transform: rotate(180deg); }
  .launch-icon svg {
    width: 20px;
    height: 20px;
    fill: #ffffff; }

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
a.main-link, span.main-link {
  font-family: 'Montserrat-SemiBold', sans-serif;
  display: inline-block;
  color: #121212;
  font-size: 0.8rem; }
  a.main-link:hover::before, span.main-link:hover::before {
    width: 25px; }
  a.main-link::before, span.main-link::before {
    display: inline-block;
    content: '';
    width: 15px;
    margin-right: 8px;
    height: 1px;
    background-color: #121212;
    vertical-align: middle;
    transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  a.main-link.white, span.main-link.white {
    color: #ffffff; }
    a.main-link.white::before, span.main-link.white::before {
      background-color: #ffffff; }

p a {
  font-family: 'Montserrat-SemiBold', sans-serif;
  display: block;
  color: inherit;
  font-size: 0.8rem; }
  p a:hover::before {
    width: 25px; }
  p a::before {
    display: inline-block;
    content: '';
    width: 15px;
    margin-right: 8px;
    height: 1px;
    background-color: white;
    vertical-align: middle;
    transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-left: 65px;
  padding-right: 70px;
  background-color: white;
  height: 80px; }
  header .logo-container, header .navigation, header .social {
    display: inline-block; }
  header .logo-container {
    float: left; }
    header .logo-container img {
      width: 100px;
      height: auto;
      margin: 15px 0; }

.navigation {
  float: right;
  padding: 20px 0; }
  .navigation nav {
    display: inline-block; }
  .navigation ul li {
    display: inline-block; }
    .navigation ul li.active a {
      font-family: 'Montserrat-Bold', sans-serif;
      color: #121212; }
    .navigation ul li a {
      display: inline-block;
      font-family: 'Montserrat-Light', sans-serif;
      color: #b2b1b1;
      font-size: 0.82rem;
      padding: 12px 20px; }

.social-container {
  display: inline-block;
  vertical-align: middle; }
  .social-container a:last-of-type svg {
    margin-bottom: -1px; }
  .social-container svg {
    fill: #121212;
    width: 12px;
    height: 12px;
    margin-left: 30px; }

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
.img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(18, 18, 18, 0.65); }

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
.main-setion {
  margin-top: 80px; }

.top-section {
  margin: 100px 50px 40px; }
  .top-section .top-section-left span, .top-section .top-section-left h1 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 2rem; }
  .top-section .top-section-left h1 {
    font-family: 'Montserrat-Light', sans-serif;
    margin: 0;
    padding-top: 4px; }
  .top-section .top-section-right img {
    width: 55px; }
  .top-section .top-section-right p {
    font-family: 'Montserrat-Light', sans-serif;
    color: #b2b1b1;
    font-size: 0.8rem;
    padding-right: 20%;
    line-height: 1.8; }

.custom-grid-section {
  padding: 100px 0; }

.first-section {
  margin: 50px 0 120px; }

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
.carousel {
  overflow: hidden; }
  .carousel .carousel-inner .item {
    height: 65vh; }
    .carousel .carousel-inner .item.active .carousel-caption {
      opacity: 1; }
      .carousel .carousel-inner .item.active .carousel-caption .caption-content {
        transform: translateX(0); }
    .carousel .carousel-inner .item .carousel-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      bottom: auto;
      right: auto;
      padding: 0;
      margin: 0;
      text-align: left;
      opacity: 0;
      transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
      .carousel .carousel-inner .item .carousel-caption .caption-content {
        transform: translateX(-15px);
        transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
        .carousel .carousel-inner .item .carousel-caption .caption-content p {
          color: #ffffff;
          text-align: left;
          font-family: 'Montserrat-Light', sans-serif;
          font-size: 2rem;
          line-height: 1;
          margin-bottom: 6px; }
        .carousel .carousel-inner .item .carousel-caption .caption-content a {
          padding: 10px 0; }
  .carousel .left-icon, .carousel .right-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    right: 0;
    width: 27px;
    text-align: left;
    padding-left: 6px; }
    .carousel .left-icon:hover .hover-boks, .carousel .right-icon:hover .hover-boks {
      transform: translateX(0); }
      .carousel .left-icon:hover .hover-boks span, .carousel .right-icon:hover .hover-boks span {
        transition-delay: 0.1s;
        opacity: 1; }
    .carousel .left-icon span, .carousel .right-icon span {
      display: inline-block; }
      .carousel .left-icon span svg, .carousel .right-icon span svg {
        width: 14px;
        height: 14px;
        fill: #121212;
        vertical-align: middle; }
    .carousel .left-icon .hover-boks, .carousel .right-icon .hover-boks {
      position: absolute;
      right: 0;
      top: -3px;
      height: 30px;
      width: 100px;
      background-color: #ffffff;
      z-index: -1;
      transform: translateX(70px);
      transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
      .carousel .left-icon .hover-boks span, .carousel .right-icon .hover-boks span {
        position: absolute;
        left: 10px;
        top: 6px;
        color: #121212;
        font-family: 'Montserrat-Light', sans-serif;
        font-size: 0.8rem;
        opacity: 0;
        transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition-delay: 0s; }
  .carousel .left-icon {
    left: 0;
    padding-left: 7px; }
    .carousel .left-icon span {
      transform: rotate(180deg); }
      .carousel .left-icon span svg {
        vertical-align: unset; }
    .carousel .left-icon .hover-boks {
      transform: translateX(-70px);
      left: 0;
      right: auto; }
      .carousel .left-icon .hover-boks span {
        transform: none;
        left: auto;
        right: 10px; }

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("/Content/Fonts/Montserrat-ExtraLight.otf") format("opentype"), url("/Content/Fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-ExtraLight.woff") format("woff"), url("/Content/Fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("/Content/Fonts/Montserrat-Light.otf") format("opentype"), url("/Content/Fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Light.woff") format("woff"), url("/Content/Fonts/Montserrat-Light.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Light.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("/Content/Fonts/Montserrat-Regular.otf") format("opentype"), url("/Content/Fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Regular.woff") format("woff"), url("/Content/Fonts/Montserrat-Regular.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Regular.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("/Content/Fonts/Montserrat-SemiBold.otf") format("opentype"), url("/Content/Fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-SemiBold.woff") format("woff"), url("/Content/Fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-SemiBold.svg#svgFontName") format("svg"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("/Content/Fonts/Montserrat-Bold.otf") format("opentype"), url("/Content/Fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/Content/Fonts/Montserrat-Bold.woff") format("woff"), url("/Content/Fonts/Montserrat-Bold.ttf") format("truetype"), url("/Content/Fonts/Montserrat-Bold.svg#svgFontName") format("svg"); }

/*$font: 'Fira Sans';

@mixin font-light {
    font-family: $font, sans-serif;
    font-weight: 300;
}
@mixin font-regular {
    font-family: $font sans-serif;
    font-weight: 400;
}
@mixin font-semibold {
    font-family: $font, sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: $font, sans-serif;
    font-weight: 700;
}*/
.service-blocks .service-links:hover span {
  opacity: 1;
  transform: translateX(0); }

.service-blocks .service-links p {
  color: #b2b1b1;
  font-size: 0.75rem; }

.service-blocks .service-links span {
  opacity: 0;
  transform: translateX(-10px);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

