@import "../Helpers/var";
@import "../Helpers/mixin";

.carousel {
    overflow: hidden;

    &:hover {
        .slider-navs {
            bottom: 0;
            transition-delay: 0s;
        }
    }

    .carousel-inner {
        .item {
            height: 65vh;

            &.active {
                .carousel-caption {
                    opacity: 1;

                    .caption-content {
                        transform: translateX(0);
                    }
                }
            }

            .carousel-caption {
                @include center;
                bottom: auto;
                right: auto;
                padding: 0;
                margin: 0;
                text-align: left;
                opacity: 0;
                transition: $transition;

                .caption-content {
                    transform: translateX(-15px);
                    transition: $transition;

                    p {
                        color: $white;
                        text-align: left;
                        @include font-light;
                        font-size: 2rem;
                        line-height: 1;
                        margin-bottom: 6px;

                        strong {
                            color: $white;
                            font-size: 2rem;
                            @include font-semibold;
                            font-weight: normal;
                        }
                    }

                    a {
                        padding: 10px 0;
                    }
                }
            }
        }
    }

    $slider-icon: 55px;

    .slider-navs {
        @include center-x;
        bottom: (-$slider-icon - 12px);
        z-index: 4;
        height: ($slider-icon - 12px);
        width: ($slider-icon + $slider-icon);
        background-color: $white;
        transition: $transition;
        transition-delay: 0.25s;
    }

    .left-icon, .right-icon {
        width: $slider-icon;
        height: ($slider-icon - 12px);
        display: inline-block;
        text-align: center;

        span {
            display: inline-block;
            position: relative;
            height: 100%;
            width: 100%;

            &:hover {
                svg {
                    fill: $gray;
                }
            }

            svg {
                position: absolute;
                width: 14px;
                height: 14px;
                fill: $main-dark;
                @include center;
                transition: $transition;
            }
        }
    }

    .right-icon {
        float: right;

        span {
            transform: rotate(180deg);
        }
    }
}