@import "../Helpers/var";
@import "../Helpers/mixin";

.service-blocks {
    h2{
        margin-bottom: 30px;
    }
    .service-links {
        display:block;
        margin-bottom:25px;
        &:hover {
            span {
                opacity: 1;
                transform: translateX(0);
            }
        }

        h4 {
        }

        p {
            color: $gray;
            font-size: 0.8rem;
        }

        span {
            opacity: 0;
            transform: translateX(-10px);
            transition: $transition;
        }
    }
}
