@import "../Helpers/var";
@import "../Helpers/mixin";

footer {
    background-color: $green;
    padding: 80px 0;

    span, a {
        @include font-light;
        color: $white;
        font-size: 0.8rem;
        margin-bottom: 5px;
        display: block;
    }

    svg {
        width: 95px;
        height: 44px;
    }
}
@include phones {
    footer {
        padding: 30px 0 85px;

        span, a {
            font-size: 13px;
        }

        svg {
            width: 85px;
            height: 34px;
            @include center-x;
            top:25px;
        }
    }
}