@import "../Helpers/var";
@import "../Helpers/mixin";

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    padding-left: 65px;
    padding-right: 70px;
    background-color: white;
    height: $header-height;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transition: 0.32s $cubic;

    &.scroll {
        height: ($header-height - 15px);


        &::after {
            width: 100%;
        }

        .navigation {
            padding: 12px 0;
        }

        .logo-container {
            img {
                width: 80px;
                margin: 15px 0;
            }
        }
    }

    .logo-container, .navigation, .social {
        display: inline-block;
    }

    .logo-container {
        float: left;

        img {
            width: 100px;
            margin: 20px 0;
            transition: 0.32s $cubic;
        }
    }
}

.navigation {
    float: right;
    padding: 20px 0;
    transition: 0.32s $cubic;

    nav {
        display: inline-block;
    }

    ul {
        li {
            display: inline-block;

            &.active {
                a {
                    @include font-bold;
                    color: $main-dark;
                }
            }

            a {
                display: inline-block;
                @include font-regular;
                color: $gray;
                font-size: 0.8rem;
                padding: 12px 20px;
                transition: $transition;

                &:hover {
                    color: $main-dark;
                }
            }
        }
    }
}

.social-container {
    display: inline-block;
    vertical-align: middle;

    a {
        &:last-of-type {
            svg {
                margin-bottom: -1px;
            }
        }
    }

    svg {
        fill: $main-dark;
        width: 12px;
        height: 12px;
        margin-left: 30px;
    }
}
