<div class="container">
    <div class="row">
        <div class="col-sm-4 col-xs-6">
            <span>Borups álle 241 3.th</span>
            <span>2400 København NV</span>
        </div>
        <div class="col-sm-4 col-xs-6">
            <span>Tlf: +45 53 83 34 66</span>
            <a href="mailto:morten@gladvinduer.dk">morten@gladvinduer.dk</a>
        </div>
        <div class="col-sm-4 col-xs-12">
            <svg xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="#logo-hvidt" />
            </svg>
        </div>
    </div>
</div>