<nav>
    <ul>
        <li class="active">
            <a href="#">Forside</a>
        </li>
        <li>
            <a href="#">Om os</a>
        </li>
        <li>
            <a href="#">Vinduespolering</a>
        </li>
        <li>
            <a href="#">Andre services</a>
        </li>
        <li>
            <a href="#">Priser og betaling</a>
        </li>
        <li>
            <a href="#">Kontakt</a>
        </li>
    </ul>
</nav>
<div class="social-container">
    <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#icon-facebook" />
        </svg>
    </a>
    <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#icon-linkedin" />
        </svg>
    </a>
</div>