@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!-- Navbar -->
<nav>
    <ul>
        <li class="@((Model.Content.IsAncestorOrSelf(Model.Content.Site())) ? "active" : "")">
            <a href="/">Forside</a>
        </li>
        @{ var allPages = Model.Content.Site().Children.Where(x => x.IsVisible());}
        @foreach (var page in allPages)
            {

            <li class="@((page.IsAncestorOrSelf(Model.Content)) ? "active" : "")">
                <a href="@page.Url">@page.Name</a>
            </li>
        }
    </ul>
</nav>
<div class="social-container">
    <a target="_blank" href="https://www.facebook.com/gladvinduer/">
        <svg xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#icon-facebook" />
        </svg>
    </a>
    <a target="_blank" href="https://www.instagram.com/_mortenglad/">
        <svg xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#icon-linkedin" />
        </svg>
    </a>
</div>


