@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var sectionItems = CurrentPage.Site().FirstChild("frontpageFirstSection").Children("firstSectionItem");
    //var programItemList = Model.Site().FirstChild<ProgramPage>().Children<ProgramItem>();

}


<div class="row service-blocks">
    @foreach (var item in sectionItems)
            {
        <a class="service-links data-show-visible" href="@item.Link.Url">
            <div class="col-sm-3">
                <h4>@item.Headline</h4>
                <p>@item.BodyText</p>
                <span class="main-link">Læs mere</span>
            </div>
        </a>
    }
</div>

@*@functions{
    public static bool Substring(string BodyText)
    {
        string text = string.Substring(0, 6);
        return false;
    }
}*@
